#first_h1{
    color: red;
    text-align: center;
    font-family:Georgia;
}
#first_p{
    color: black;
    text-align: justify;
    font-family: helvetica;
}

.container{
    text-align: center;
}
.myUl{
    color: blue;
    display: inline-block;
    text-align: left;
}
.blog{
    background-color: aqua;
    border-top: 20px solid tomato; 
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(131, 89, 89) ;
}
.blog p{
    text-align: justify;
}
.btn_section{
    text-align: center;
}
.btn{
    background-color: blueviolet;
    
    border-radius: 5px;
    box-shadow: 5px 5px 5px ;
}
.btn a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    
}
